html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/*Globales*/

h1,h2,h3{
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0;
}

h1 {
    font-size: 5rem;

}

h2{
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
}

a{
    text-decoration: none;
    color: #000;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto ;
}



/*Header y Navegacion*/

.nombre-sitio{
    margin-top: 5rem;
    text-align: center;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.contenedor-navegacion{
    border-top: .1rem solid #e1e1e1;  /*1px 0 .1rem*/
}

.nav-principal{
    padding: 2rem 0 ;
    display: flex;
    justify-content: flex-end;
    border-radius: 2rem;
}

.hero-logo{
    background-image: url(../imagenes/logo2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 40rem;
    max-width: 150rem;
   }

   .hamburguesa{
    position: fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.nav-principal {
    position: fixed;
    top: 15rem;
    right: 0;
    width: 15vw;
    height: 70%;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /*transition: transform .3 ease-in-out;
    transform: translate(110%);*/
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.inactive{
    display: none;
}

/*Categorias*/

.categoria{
    margin-bottom: 2rem;  
}
.text-center{
    text-align: center;
}
.listado-categorias{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  
}

.categoria a{
    text-align: center;
    display: block;
    padding: 2rem;
    font-size: 2rem;
}
.categoria a:hover {
    background-color: #037bc0;
    color: #FFFFFF;
    border-radius: 2rem;
}
.categoria img{
    width: 35rem;
    height: 35rem;
}

/*Bloque nosotros*/

.sobre-nosotros {
    background-image: linear-gradient( to right, transparent 50%, #037bc0 50%, #037bc0 100%), url(../imagenes/nosotros.jpg);
    padding: 10rem 0;
    background-repeat: no-repeat;
    background-size: 100%, 180rem;
    background-position: left, center;
    
}

.sobre-nosotros-grid{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.texto-nosotros{
    flex-basis: 50%;
    padding-left: 60rem;
    color: #fff;
}



 